# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ==================================
# Generated Large Datasets
# ==================================

data/transactions_25m.csv
data/txn_10m.csv
data/txn_5m.csv
data/txn_1m.csv
data/txn_500k.csv
data/accounts_500k.csv
data/merchants_100k.csv

data/raw/
data/serialized/

# Spark
metastore_db/
spark-warehouse/

# Temporary
*.tmp